:root{
    --primary-color: #3853a4;
    --secondary-color: #A38537;
    --bg-color: #EAFAFF;
    --text-color: #000;
    --font-size: 16px;
    --text-underline-offset: 0.3rem;
    --text-decoration-thickness: 2px;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    color: var(--text-color);
    font-size: 1.7em;
    background-color: var(--bg-color) !important;
}

.m-top{
    margin-top: 60px;
}

.main{
    min-height: calc(100vh - 95px);
}

.title-1{
    font-size: 3rem;
}

.title-2{
    font-size: 2rem;
}

.sm-title-1{
    font-size: 1.5rem;
}
.sm-title-2{
    font-size: 1.25rem;
}
.sm-title-3{
    font-size:  0.75rem;
    color: rgba(0, 0, 0, 0.5);
}

.importante{
    color: var(--primary-color);
}

.importante-1{
    color: var(--secondary-color);
}

header{
    /*border-bottom: 1px solid var(--border-color);*/
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  }


.navbar-brand img {
    /*width: auto;
    height: 140px;*/
    width: 140px;
    height: auto;
}

.navbar-brand-2{
    display: none;
}

.navbar-brand-2 img {
    /*width: auto;
    height: 140px;*/
    width: 48px;
    height: auto;
}

.show{
    display: inline-block;
}

ul > li > a {
    text-transform: capitalize;
    color: var(--text-color) !important;
    font-weight: bold;
    font-size: 1.2em;
}

.navbar > div > ul > li > a:hover {
    color: var(--primary-color) !important;
    text-decoration: underline;
    text-underline-offset: var(--text-underline-offset);
    text-decoration-thickness: var(--text-decoration-thickness);
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(56, 83, 164,0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    padding: 0;
  }
  .custom-toggler.navbar-toggler {
    border-color: var(--primary-color);
}

.bg-recis {
    background-color: var(--primary-color);
}

.bannier{
    min-height: 300px;
    background: linear-gradient(90deg, rgba(253,29,29,1) 0%, rgba(131,58,180,1) 36%, rgba(252,176,69,1) 100%);
}

.btn-recis{
    background-color: var(--primary-color) !important;
    color: white !important;
    border: 1px solid var(--primary-color) !important;
}

.btn-recis:hover{
    background-color: white !important;
    color: var(--primary-color) !important;
}

a:hover{
    text-underline-offset: var(--text-underline-offset) !important;
    text-decoration-thickness: var(--text-decoration-thickness) !important;
}

.recis-menu > ul > li > a{
    display: inline-block;
}

.recis-menu > ul > li > a{
    color: var(--primary-color) !important;
}

.recis-menu > ul > li > a:hover{
    text-decoration: underline;
    text-underline-offset: var(--text-underline-offset);
    text-decoration-thickness: var(--text-decoration-thickness)
}

.recis-menu > ul > li > a.active{
    text-decoration: underline;
    text-underline-offset: var(--text-underline-offset);
    text-decoration-thickness: var(--text-decoration-thickness)
}


/** Card actualité **/
.card{
    width: 95%;
    /*min-width: 300px;*/
    height: 100%;
    padding: 8px;
    border: 1px solid var(--border-color);
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.card img {
    width: 100%;
    height: 214px;
    object-fit: cover;
    border-radius: inherit;
}

.card-detail {
    border: 1px solid var(--border-color);
    padding: 4px 8px;
    border-radius: 12px;
    font-size: 12px;
}

.card-title {
    margin-top: 8px;
    font-size: 1.25rem;
    font-weight: 600;
}

p {
    line-height: 150%;
}

.card .card-body {
    padding: 16px 8px 0px;
    position: relative;
}


.card-body button {
    position: absolute;
    right: 8px;
    bottom: 0px;
    margin-top: 8px;
}

/** Fin card*/

@media (max-width:768px) {

    .title-1{
        font-size: 1.5rem;
    }

    .title-2{
        font-size: 1.125rem;
    }
    
}